@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    background: #f4f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    display: flex;
    width: 800px;
    height: 450px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);

}

.panel-izquierdo {
    background-color: #1E90FF;
    color: #fff;
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}

.panel-izquierdo h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.subrayado {
    width: 50px;
    height: 3px;
    background: #fff;
    margin-bottom: 20px;
}

.panel-izquierdo p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.saber-mas {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;

}

.saber-mas:hover {
    background: #fff;
    color: #1E90FF;
}

.panel-derecho {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-derecho h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.panel-derecho .subrayado {
    background: #1E90FF;
    margin-bottom: 30px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-bottom: 1px solid #1E90FF;
}

.btn-login {
    background: #1E90FF;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.btn-login:hover {
    background: #0d6efd;
}
